build/
Build/
bin/
lib/
out/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt  # CMakeLists.txt는 버전 관리에 포함
install_manifest.txt

libtorch/
LibTorch/
*.zip
*.tar.gz
*.tgz
*.7z

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
cmake-build-debug/
cmake-build-release/

*.o
*.obj
*.so
*.so.*
*.dylib
*.dll
*.exe
*.a
*.lib
